@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-linear-background {
    background: linear-gradient(290deg, #ff4800 0%, #ff6d00 100%);
}

.login-form-neu {
    border-radius: 30px;
    box-shadow: 15px 15px 20px #c2410c, -15px -15px 20px #fe7f25;
}

/* remove number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
